*{
  margin:0;
  padding:0;
  outline:none;
  box-sizing: border-box;
}
/*Include Raleway Font*/
@font-face {
  font-family: Raleway;
  src:url('../Assest/Font/Raleway/Raleway-VariableFont_wght.ttf'),
      url('../Assest/Font/Raleway/Raleway-VariableFont_wght.ttf');
}
.centerFlex{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End Include Raleway Font*/
/*Start Images Background Style*/
#backgroundColor{
  position: fixed;
  width: 100%;
  height: 150vh;
  z-index: -1;
  top:-30px;
  background: url('../Images/background.jpg'), lightgray 50% / contain no-repeat; 
}
#backgroundWaveTop{
  background: url('../Images/backgroundWaveTop.png');
  opacity: 0.7;
  position: fixed;
  z-index: 18;
  top: 57px;
  right: 0;
  width: 88%;
  height: 213vh;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate3d(431px,-50px, 0);
  transition: all 1s ease-in-out;
}
#backgroundWaveBottom{
  opacity: 0.7;
  position: fixed;
  z-index: 18;
  top: 64px;
  right: 0;
  width: 100%;
  height: 93vh;
  transform: translate(80px, 505px);
  transition: all 1s ease-in-out;
}
#backgroundWaveBottomLeft{
  opacity: 0.7;
  position: fixed;
  z-index: 18;
  top: 60px;
  left: 0;
  width: 100%;
  height: 93vh;
  transform: translate(-700px, 182px);
  transition: all 1s ease-in-out;
}
.ActiveBack{
  transform: translate(0px, 0px) !important;
}
/*End Images Background Style*/
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color:white;
}
/*=======> start Style header <==========*/
header{
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #1B1B1B;
  box-shadow: 0px 4px 17px 8px rgba(0, 0, 0, 0.69);
  transform: translateY(-50px);
  transition: all 0.8s ease-in-out;
}
.ActiveHeader{
  transform: translateY(-0px);

}
header nav{
  padding-left:10px !important;
  padding-right:10px;
}
header nav .leftNav .ImageLogo img{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
/* ======>Start Text Animation Style<=========  */
header nav .leftNav .TextAnimation{
  width: fit-content;
  position: relative;
}
header nav .leftNav .TextAnimation svg{
  width: 200px;
  height: auto;
}
header nav .leftNav .TextAnimation .inner{
  position: absolute;
  width: 0px;
  height:auto ;
  overflow: hidden;
  animation:text 3.8s 1.3s ease-in-out infinite;
}
@keyframes text{
  0%   {
    width: 0px;
  }
  25%  {
    width: 199px;

  }
  50%  {
    width: 200px;
  }
  100% {
    opacity: 0;
  }
}
/* ======>End Text Animation Style<=========  */
header nav .RightNav ul{
  margin-bottom: 0px;
}
header nav .RightNav ul li{
  width: fit-content;
  padding: 5px 10px;
  margin: 0 40px;
  transition: all 0.3s linear;
}
header nav .RightNav ul li:hover{
  background-color:#464646;
  border-radius: 5px;
}
.active{
  color: #F4B719 !important;
}
header nav .RightNav ul li a p{
  margin-bottom: 0px;
  text-align: center;
  color: #fff;
  font-family:'Raleway';
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: 23px;
  text-transform: capitalize;
}

.SearchBar{
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SearchBar input{
  border-radius: 25px;
  padding: 5px 12px;
  padding-right: 24px;
  width: 0px;
  opacity: 0;
  transition: all 0.5s linear;
}
.SearchBar .iconSearch{
  position: absolute;
  top:1px;
  right: 0px;
  text-align: center;
  background-color: #3D3D3D;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: all 0.1s linear;
}
.SearchBar .iconSearch:hover{
  background-color: #6B6B6B;
}
#SearchInput::placeholder{
  color: rgba(0, 0, 0, 0.38);
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  line-height: 23px; /* 76.667% */
  text-transform: capitalize;
}
/*=======> End Style header <==========*/
