*{
  margin:0;
  padding:0;
  outline:none;
  box-sizing: border-box;
}
/*Include Raleway Font*/
@font-face {
  font-family: Raleway;
  src:url('../Assest/Font/Raleway/Raleway-VariableFont_wght.ttf'),
      url('../Assest/Font/Raleway/Raleway-VariableFont_wght.ttf');
}
.centerFlex{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End Include Raleway Font*/
/*Start Style main Scrollbar*/
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #3D3D3D;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(black),
									   to(black),
									   color-stop(.6,black))
}
/*End Style scrollbar*/
/*Start Images Background Style*/
#backgroundColor{
  position: fixed;
  width: 100%;
  height: 150vh;
  z-index: -1;
  top:-30px;
  background: url('../Images/background.jpg'), lightgray 50% / contain no-repeat; 
}
#backgroundWaveTop{
  background: url('../Images/backgroundWaveTop.png');
  opacity: 0.7;
  position: fixed;
  z-index: 0;
  top: 57px;
  right: 0;
  width: 88%;
  height: 213vh;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate3d(431px,-50px, 0);
  transition: all 1s ease-in-out;
}
#backgroundWaveBottom{
  opacity: 0.7;
  position: fixed;
  z-index: 0;
  top: 64px;
  right: 0;
  width: 100%;
  height: 93vh;
  transform: translate(80px, 505px);
  transition: all 1s ease-in-out;
}
#backgroundWaveBottomLeft{
  opacity: 0.7;
  position: fixed;
  z-index: 0;
  top: 60px;
  left: 0;
  width: 100%;
  height: 93vh;
  transform: translate(-700px, 182px);
  transition: all 1s ease-in-out;
}
.ActiveBack{
  transform: translate(0px, 0px) !important;
}
/*End Images Background Style*/
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color:white;
}
/*=======> start Style header <==========*/
header{
  position: fixed;
  top:0;
  width: 100%;
  z-index: 100;
  background-color: #1B1B1B;
  box-shadow: 0px 4px 17px 8px rgba(0, 0, 0, 0.69);
  transform: translateY(-50px);
  transition: all 0.8s ease-in-out;
}
.ActiveHeader{
  transform: translateY(-0px);

}
header nav{
  width: 95%;
  margin:0 auto;
}
header nav .leftNav .ImageLogo img{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
/* ======>Start Text Animation Style<=========  */
header nav .leftNav .TextAnimation{
  width: fit-content;
  position: relative;
}
header nav .leftNav .TextAnimation svg{
  width: 200px;
  height: auto;
}
header nav .leftNav .TextAnimation .inner{
  position: absolute;
  width: 0px;
  height:auto ;
  overflow: hidden;
  animation:text 3.8s 1.3s ease-in-out infinite;
}
@keyframes text{
  0%   {
    width: 0px;
  }
  25%  {
    width: 199px;

  }
  50%  {
    width: 200px;
  }
  100% {
    opacity: 0;
  }
}
/* ======>End Text Animation Style<=========  */
header nav .RightNav ul{
  margin-bottom: 0px;
}
header nav .RightNav ul li{
  width: fit-content;
  padding: 5px 10px;
  margin: 0 40px;
  transition: all 0.3s linear;
}
header nav .RightNav ul li:hover{
  background-color:#464646;
  border-radius: 5px;
}
.active{
  color: #F4B719 !important;
}
header nav .RightNav ul li a p{
  margin-bottom: 0px;
  text-align: center;
  color: #fff;
  font-family:'Raleway';
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: 23px;
  text-transform: capitalize;
}

.SearchBar{
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SearchBar input{
  border-radius: 25px;
  padding: 5px 12px;
  padding-right: 24px;
  width: 0px;
  opacity: 0;
  transition: all 0.5s linear;
}
.SearchBar .iconSearch{
  position: absolute;
  top:1px;
  right: 0px;
  text-align: center;
  background-color: #3D3D3D;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: all 0.1s linear;
}
.SearchBar .iconSearch:hover{
  background-color: #6B6B6B;
}
#SearchInput::placeholder{
  color: rgba(0, 0, 0, 0.38);
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  line-height: 23px; /* 76.667% */
  text-transform: capitalize;
}
/*=======> End Style header <==========*/
/* Start Section Home */
.SectionKero{
  position: relative;
  width: 90%;
  margin: 140px auto 0;
  height: 100vh;
}
section.SectionKero .ContainerText{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0 20px; 
}
section.SectionKero .ContainerText .LineBetText{
  height: 3px;
  width: 70%;
  background-color: #F5B819;
}
section.SectionKero  .ContainerText .TextChange{
  position: relative;
  z-index: 18;
  color: #FFF;
  width: fit-content;
  padding-left: 45px;
  padding-right: 30px;
  text-align: center;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 23px;
  text-transform: capitalize;
  transition: all 0.5s ease-in-out;
}
section.SectionKero .ContainerText .ActiveText{
  color: #F5B819;
  font-size: 50px;
}
section.SectionKero .MarkLine{
  position: relative;
  top: -10px;
  height: inherit;
  transform: rotateY(0);
  transition: all 0.5s ease-in-out;
}
section.SectionKero .MarkLine.activeAnton{
  transform: rotateY(180deg) !important;
  right: -20px;
}
section.SectionKero .MarkLine .line{
  height: inherit;
  width: 2px;
  background-color: #F5B819;
  position: absolute;
  left: 0;
  top:0;
}
section.SectionKero .MarkLine .smallLine{
  height: 2px;
  width: 40px;
  background-color: #F5B819;
  position: absolute;
  left: 0;
  top:0;
}
section.SectionKero .MarkLine .circle{
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #F4B719;
  border-radius: 50%;
  top: -4px;
  left: 40px;
}
/*End Section Lines and Text */
/*Start Style card*/
#News{
  display: block;
}
#Events{
  display: none;
}
.cards{
  width: inherit;
  position: absolute;
  top: 50px;
  left: 60px;
}
.cards .keroCard{
  margin-bottom: 20px;
}
.cards .keroCard .cardChild{
  border-radius: 10px;
  background: linear-gradient(319deg, rgba(0, 0, 0, 0.00) 0%, rgba(245, 184, 25, 0.56) 100%);
  box-shadow: 6px 11px 9px 9px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding :20px 10px;
  overflow: hidden;
}
.cards .keroCard .cardChild .TopCard{
  display: flex;
  justify-content: space-between;
}
.cards .keroCard .cardChild .TopCard .ImageCard{
  width: 50%;
}
.cards .keroCard .cardChild .TopCard .ImageCard img{
  width: 100%;
}
.cards .keroCard .cardChild .TopCard .textCard{
  width: 45%;
}
.cards .keroCard .cardChild .TopCard .textCard p{
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Raleway;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 23px;
  text-transform: capitalize;
}
.cards .keroCard .cardChild .bottomCard{
  padding:10px;
  border-radius: 10px;
  background: #D9D9D9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.cards .keroCard .cardChild .bottomCard .headerInfo h3{
  color: rgba(0, 0, 0, 0.57);
  font-family: Raleway;
  font-size: 23px;
  font-style: normal;
  font-weight: 800;
  line-height: 23px;
  text-transform: capitalize;
}
.cards .keroCard .cardChild .bottomCard .button{
  width: 98%;
  display: flex;
  justify-content: flex-end;
}
.cards .keroCard .cardChild .bottomCard .button button,.Description .button button{
  background: #000;
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-weight: 800;
  line-height: 23px;
  text-transform: capitalize;
  border-radius: 20px;
  padding: 0 15px;
  transition: all 0.5s ease-in-out;
}
.cards .keroCard .Description{
  display: none;
  position: relative;
  padding:15px;
  overflow: hidden;
  border-radius: 0px 13px 13px 0px;
  background: rgba(217, 217, 217, 0.60);
  box-shadow: 15px 11px 9px 9px rgba(0, 0, 0, 0.25);
  animation-name: OpacityAnimation;
  animation-duration:2s ;
  transition:all 2s ease-in-out;
}
.cards .keroCard .Description .headerDes h3{
  color: rgba(0, 0, 0, 0.81);
  text-align: center;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 23px;
  text-transform: capitalize;

}
.cards .keroCard .Description .button button.odd{
  transform: translateX(-450px);
}
.cards .keroCard .Description .button button.even{
  transform: translateX(108px);
}
.cards .keroCard .Description .button button{
  position: absolute;
  bottom:30px;
  right: 20px;
  transition: all 2s ease-in-out;
}
/*Start Animation */
.ActiveKeroCardRight{
  border-radius: 13px  0  0 13px !important;
}
.activeDecsription{
  border-radius: 13px 0 0 13px !important;
}
.ActiveKeroCardLeft{
    border-radius: 0 13px 13px 0  !important;
}
.ActiveKeroCardBottom{
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
}
.ActiveButtonRight{
  transform: translateX(150px);
}
.ActiveButtonLeft{
  transform: translateX(0px) !important;
}
.HideButtonLeft{
  transform: translateX(-650px);
}
.AntonHideLeftSide{
  opacity: 0;
}
@keyframes OpacityAnimation {
  0%{
      opacity: 0;
      
  }
  100%{
      opacity: 1;
  }
}
/*End Animation */

/*End Style card*/
