*{
  margin:0;
  padding:0;
  outline:none;
  box-sizing: border-box;
}
/*Include Raleway Font*/
@font-face {
  font-family: Raleway;
  src:url('../Assest/Font/Raleway/Raleway-VariableFont_wght.ttf'),
      url('../Assest/Font/Raleway/Raleway-VariableFont_wght.ttf');
}
.centerFlex{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End Include Raleway Font*/
body{
  background-color: #1B1B1B;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color:white;
}
/*=======> start Style header <==========*/
header{
  background-color: #1B1B1B;
  box-shadow: 0px 4px 17px 8px rgba(0, 0, 0, 0.69);
}
header nav{
  padding-left:10px !important;
  padding-right:10px;
}
header nav .leftNav .ImageLogo img{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
/* ======>Start Text Animation Style<=========  */
header nav .leftNav .TextAnimation{
  width: fit-content;
  position: relative;
}
header nav .leftNav .TextAnimation svg{
  width: 200px;
  height: auto;
}
header nav .leftNav .TextAnimation .inner{
  position: absolute;
  width: 200px;
  height:auto ;
  overflow: hidden;
  animation:text 3.8s ease-in-out infinite;
}
@keyframes text{
  0%   {
    width: 0px;
  }
  25%  {
    width: 199px;

  }
  50%  {
    width: 200px;
  }
  100% {
    opacity: 0;
  }
}
/* ======>End Text Animation Style<=========  */
header nav .RightNav ul{
  margin-bottom: 0px;
}
header nav .RightNav ul li{
  width: fit-content;
  padding: 5px 10px;
  margin: 0 40px;
  transition: all 0.3s linear;
}
header nav .RightNav ul li:hover{
  background-color:#464646;
  border-radius: 5px;
}
.active{
  color: #F4B719 !important;
}
header nav .RightNav ul li a p{
  margin-bottom: 0px;
  text-align: center;
  color: #fff;
  font-family:'Raleway';
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: 23px;
  text-transform: capitalize;
}

.SearchBar{
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SearchBar input{
  border-radius: 25px;
  padding: 5px 12px;
  padding-right: 24px;
  width: 0px;
  opacity: 0;
  transition: all 0.5s linear;
}
.SearchBar .iconSearch{
  position: absolute;
  top:1px;
  right: 0px;
  text-align: center;
  background-color: #3D3D3D;
  /* padding: 5px; */
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: all 0.1s linear;
}
.SearchBar .iconSearch:hover{
  background-color: #6B6B6B;
}
#SearchInput::placeholder{
  color: rgba(0, 0, 0, 0.38);
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  line-height: 23px; /* 76.667% */
  text-transform: capitalize;
}
/*=======> End Style header <==========*/
